html, body {	margin: 0;
	margin: 0;
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#musicChooser {
	width: 100%;
	height: 80%;
	background: green;
	display: block;
	overflow: auto;
}

#progressbarContainer {
	width: 100%;
	height: 10px;
	margin: 0;
	padding: 0;
	background-color: black;
}

#progressbar {
	width: 1%;
	height: 10px;
	margin: 0;
	padding: 0;
	background-color: red;
}
